body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
    background-image: url(https://www.bing.com/th/id/OIP.ymozhI0xl8yVQgoJCaWCeQHaFC?w=221&h=211&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

#search-input {
    width: 100%;
    height: 2em;
    padding: 0.5em;
    font-size: 1em;
}

#search-btn {
    width: 100%;
    height: 2em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #444;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form label {
    margin-bottom: 0.5em;
}

#login-form input {
    width: 100%;
    height: 2em;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
}

#login-btn {
    width: 100%;
    height: 2em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 00.5em;
    font-size: 1em;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #444;
}

#librarian-management button {
    width: 100%;
    height: 2em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

#librarian-management button:hover {
    background-color: #444;
}